#home {
  background: radial-gradient(rgba(0, 0, 0, 0.2), black),
    url("../img/group.jpeg");
  background-size: cover;
  background-position: bottom center;
  height: 100vh;

  .box {
    padding: 0 230px;
    padding-top: 70px;
    height: calc(100vh - 70px);

    &-title {
      color: $textColor;
      font-size: $h1Font;
    }
  }
}
